@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,600;0,700;1,300;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    padding: 40px;
}

.main {
    margin: 45px auto 0 auto;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.664);
    border-radius: 6px;
    text-align: center;
    max-width: 600px;
}

.main h1 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -3px;
    margin: 10px 0;
}

.main .input {
    width: 90%;
    padding: 10px 15px;
    border: 3px solid #9e9e9e;
    outline: none;
    margin: 15px 0;
}

.main .input:focus {
    border: 3px solid #439cfb;
}

#salve {
    width: 60%;
    padding: 12px 0;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #439cfb;
    color: #fff;
    transition: 0.3s;
    margin: 0 0 25px 0;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    box-shadow: 0 10px 25px -10px #439cfb;
}

.main .btn:hover {
    box-shadow: 0 10px 25px -10px #439cfb;
}

#qrcode {
    margin: 55px 10px;
}

footer {
    margin-top: 40px;
    text-align: center;
}

footer .medias-socias {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}

footer .medias-socias img {
    margin: 0 10px;
}

#note {
    font-size: 1.5rem;
}

@media (max-width:320px) {
    .main h1 {
        font-size: 2.5rem;
    }
}

@media (max-width:250px) {
    .main h1 {
        font-size: 2rem;
    }
}